/*Danny:: overwirde .ant-btn*/
.ant-btn {
	font-size: 12px!important;
}
.btn {
	font-size: 12px!important;
}
.ant-input {
	font-size: 12px!important;
}
.ant-select {
	font-size: 12px!important;
}
.ant-picker-input > input {
	font-size: 12px!important;
}
.text-muted {
    font-size: 12px!important;
}


/*End Danny:: overwirde .ant-btn*/